* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo-mario {
    height: 200px;
}

.botato-entre-em-contato {
    color: white;
    background-color: #c51111;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    /* para deixar os textos MAISCULOS*/
    font-weight: bold;
    margin-top: 30px;
}


.botato-entre-em-contato:hover {
    background-color:green;
    transition: .5s  ease;
    opacity: .7;
    font-size: 15px;
}

.botato-entre-em-contato:active {
    opacity: .4;
    transition: .01s  ease;
    
}

.img-mario-luigi {
    height: 500px;
}

body {
    height: 100vh;

}

.caixa-principal {
    width: 40%;
}

.caixa-video {
    position: fixed;
    z-index: -1;
    /* FAZE O VIDEO FICAR ATRAS DOS ELEMENTOS*/
    top:0 /* jogou o video todo pra cima */

}

.video-mario {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;

}

.caixa-mae {
    display: flex;
    align-items: center;
    padding: 100px;
    height: 100vh;
    justify-content: space-around;
}

.mascara {
    width: 100%;
    height: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    z-index: -1;
}

p {
    color: white;
    margin-top: 20px;
}

.link-whatsapp img {
    width: 50px;
    position: fixed; 
    right: 30px;
    bottom: 30px;
}


.cabeçalho img {
    width:60px ;

}

.cabeçalho {
    color: white;
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 30px;
}
.cabeçalho a {
    color: white;
    font-size: 24px;
    cursor: pointer;

}

.cabeçalho a:hover {
    color:  #c51111;
    font-size: 26px;
    transition: .2s  ease-in-out;
}


.formulario-fale-conosco {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: 50px;
    padding: 20px;
    border-radius: 5px;
    gap: 20px; 
    top: 30%;
    left: -300px;
}

input {
    height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
    outline-color: red;
}

textarea {
    width:270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
    outline-color: red;
}

.botao-formulario {
    
    color: white;
    background-color: #c51111;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    text-transform: uppercase;
    /* para deixar os textos MAISCULOS*/
    font-weight: bold;
    margin: 0 auto;
    display: block;

}

.botao-formulario:hover {
    opacity: .7;
    background-color: green;
    transition: .5s  ease;
    font-size: 15px;
}

.botao-formulario:active {
    opacity: .4;
    transition: .01s  ease;
}



.mascara-formulário {

    visibility: hidden; /* fez a mascara desaparecer */
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);


}
/*

INICIAL 
    top: 30%;

    left: -300px;

FINAL 
    top: 30%;
    left: 50%;
    transform: translateX(-50%); = DESSA FORMA CENTRALIZA NO MEIO 
    INDEPENDENTE DO TAMANHO DA TELA, MACETE USANDO O TRANSLATEX 


    */